<footer>
  {# {%- if nofooter %}
    <p> Call today at 435-512-1914 for your free estimate. </p>
  {% else %}
    <p> Call today at 435-512-1914 for your free estimate. Or visit our <a class="btn" href="/contact">Contact Page</a></p>
  {% endif %} #}
  <p> Call today at 435-512-1914 for your free estimate. </p>
</footer>

