
{%- if nofooter %}
  <footer>
    <p> Call me at 555-555-5555 for your free estimate. </p>
  </footer>
{% else %}
  <footer>
    <p> Call me at 555-555-5555 for your free estimate. Or visit our <a href="/contact">contact page</a>. </p>
  </footer>
{% endif %}

