@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $color-secondary-1-4;
  color: $color-primary-0;
}
::selection {
  background-color: $color-secondary-1-4;
  color: $color-primary-0;
}

html {
  background-color: $color-secondary-2-1;
}

body {
  text-align: center;
  background-color: $color-primary-0;
  color: mix($color-primary-4, $color-primary-0, 80%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;
  background-color: $color-primary-1;
  @include bp(mid) {
    font-size: 18px;
  }
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  @include bp(mid) {
    width: 600px;
  }
  @include bp(wide) {
    width: 1100px;
  }
}

.align-left {
  text-align: left;
}


h1, h2, h3 {
  color: $color-secondary-1-4;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-size: 1.5em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @include bp(mid) {
    font-size: 3em;
  }
  @include bp(wide) {
    font-size: 4em;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $color-secondary-1-4;
  text-decoration: none;
  border-bottom: solid 1px mix($color-primary-4, $color-primary-0, 80%);
}
a:hover,
a:focus {
  color: $color-secondary-2-4;
  border-bottom: solid 1px $color-secondary-1-4;
}


.nav {
  padding: 3em;

  li {
    display: inline;
  }

  a:link,
  a:visited {
    display: inline-block;
    margin-left: 0.7em;
    margin-right: 0.7em;
    width: 8em;
    text-align: center;
    color: mix($color-secondary-1-4,$color-primary-0, 80%);
    text-decoration: none;
  }
  a:hover,
  a:focus {
      color: $color-secondary-2-4;
      background-color: $color-primary-0;
      border-bottom: solid 1px $color-secondary-2-0;
  }
}


code {
  font-size: 0.8em;
  background-color:  mix($color-secondary-2-0, $color-primary-0, 20%);
  color: $color-secondary-1-4;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

main {
  margin-top: 4em;
}

pre {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.2;
  background-color:  mix($color-secondary-2-0, $color-primary-0, 10%);
  border: solid 1px mix($color-secondary-2-0, $color-primary-0, 30%);
  overflow: auto;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}


footer {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 6em;
  border-top: solid 1px mix($color-primary-4, $color-primary-0, 10%);
  font-size: 1.2em;
  color: mix($color-primary-4, $color-primary-0, 40%);

  a:link,
  a:visited {
    color: mix($color-primary-4, $color-primary-0, 70%);
    border-bottom: solid 1px mix($color-secondary-2-0, $color-primary-0, 70%);
  }
  a:hover,
  a:focus {
    color: $color-secondary-2-0;
    border-bottom: solid 1px $color-secondary-1-4;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.submit-btn {
  background-color: $color-primary-0;
  color: $color-secondary-1-0;
  font-weight: 800;
  font-size: 1.4em;
  padding: 0.7em;
}

/* When moving the mouse over the submit button, add a darker green color */
.submit-btn:hover {
  color: $color-secondary-1-0;
  background-color: $color-primary-2;
}

/* Add a background color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: $color-secondary-1-1;
  padding: 20px;
}
