@import '_variables';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $color-primary-1;
  color: $color-primary-1;
}
::selection {
  background-color: $color-primary-1;
  color: $color-primary-1;
}

html {
  background-color: $color-primary-1;
}

body {
  text-align: center;
  background-color: $color-primary-1;
  color: mix($color-primary-4, $color-primary-1, 80%);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  background-color: $color-primary-1;
  @include bp(mid) {
    font-size: 18px;
  }
}

.container-left-side {
  background-color: $color-primary-4;
}

.container-right-side {
  background-color: $color-primary-3;
}

.align-left {
  text-align: left;
}


h1, h2, h3 {
  color: $color-secondary-1-4;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom:0.2em;
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @include bp(mid) {
    font-size: 2em;
  }
  @include bp(wide) {
    font-size: 3em;
  }
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}


.subtitle {
  @include bp(mid) {
    font-size: 1.4em;
    margin-top: .75em;
    margin-bottom: .75em;
  }
  @include bp(wide) {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

a:link,
a:visited {
  text-align: center;
  color: $color-secondary-1-4;
  text-decoration: none;
  border-bottom: solid 1px mix($color-primary-4, $color-primary-1, 80%);
}
a:hover,
a:focus {
  color: $color-secondary-1-4;
  border-bottom: solid 1px $color-secondary-1-4;
}


nav {
  a:link, a:visited {
    display: inline-block;
    margin: 0.7em;
    width: 8em;
    background-color: mix($color-primary-3, $color-primary-1, 80%);
    border: solid 1px mix($color-primary-3, $color-primary-1, 80%);
  }
  a:hover, a:focus {
      background-color: $color-primary-1;
      border: solid 1px $color-secondary-2-0;
  }
}

.card-deck {
  padding: 3em;
}

.logo {
  padding: 1em;
  img{
    width:150px;
    height:175px;
  }
}

main {
  margin-top: 2em;
}

footer {
  padding: 1em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  font-size: 1.5em;
  font-weight: 500;
  background-color: $color-secondary-2-1;
  a:link, a:visited {
    display: inline-block;
    margin: 0.7em;
    width: 9em;
    background-color: mix($color-primary-3, $color-primary-1, 80%);
    text-decoration: none;
    border: solid 1px mix($color-primary-3, $color-primary-1, 80%);
  }
  a:hover, a:focus {
      color: white;
      background-color: $color-primary-1;
      border: solid 1px $color-secondary-2-0;
  }
}

